:root {
    --color-pen: #1E201E;
    --color-bg: #EEEEEE;
    --color-focus: grey;
    --color-danger: #e00000;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    max-width: 1065px;
    margin-inline: auto;
    font-family: "Patrick Hand SC", cursive;
    -webkit-font-smoothing: antialiased;
    line-height: 1.3;
    letter-spacing: 0.1px;
    color: var(--color-pen);
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

img {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

h1, h2, h3, h4, h5, h6, th {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul{
    list-style: none;
    padding: 0;
}

.btn {
    border: 2px solid;
    border-left: 5px solid;
    border-bottom: 15px solid;
    width: fit-content;
    padding-inline: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    outline: 0;
}

.btn.danger {
    color: var(--color-danger);
}

.btn:hover {
    color: var(--color-focus);
}

.btn:focus {
    color: var(--color-focus);
}

.btn:active {
    border-left: 2px solid;
    border-right: 5px solid;
    border-top: 5px solid;
    border-bottom: 12px solid;
}


/* HEADER */
.logo {
    text-align: center;
}

.logo span {
    font-size: 4rem;
}

.logo span small {
    font-size: 2rem;
}

/* FOOTER */
footer {
    padding: 20px 0;
    text-align: center;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
}

/*
=========INDEX========
*/

/* CATEGORIES */
.category-section {
    margin-top: 25px;
    position: relative !important;
}

.category-section span {
    font-size: 1.25rem;
}

.category-container {
    border: 3px solid var(--color-pen);
    padding-top: 25px;
    padding-bottom: 50px;
}

.category-container ul {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 60px;
    padding: 0 10px;
    justify-items: center;
    list-style: none;
    text-align: center;
}

li.selected {
    border: 2px solid var(--color-pen);
    height: fit-content;
    padding: 0 5px;
}

.search {
    background-color: var(--color-bg);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 75%;
    text-wrap: nowrap;
}

.search label {
    font-size: 2rem;
    margin-left: 5px;
}

.search input {
    border: 0;
    background-color: var(--color-bg);
    width: 90px;
    font-size: 2rem;
}

.search input::placeholder {
    opacity: 50%;
}

.search input:focus {
    outline: 0;
    border-bottom: 1px solid var(--color-pen);
}

/* PROFILES */
.profile-section {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-items: center;
    column-gap: 15px;
    row-gap: 50px;
}

.profile {
    border: 2px solid var(--color-pen);
    width: 100%;
    position: relative;
    padding: 0 50px;
}

.profile .name {
    background-color: var(--color-bg);
    padding: 0 5px;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
}

.profile img {
    margin-top: 30px;
    width: 150px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    mix-blend-mode: luminosity;
}

.profile-headsup {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.25rem;
    list-style: none;
}

.profile .rating {
    background-color: var(--color-bg);
    padding: 0 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
}

/* NAV SECTION */
.nav-section {
    margin-top: 100px;
    border-top: 3px solid var(--color-pen);
    border-bottom: 3px solid var(--color-pen);
    font-size: 1.25rem;
    padding: 16px 25px;
    display: flex;
    align-items: center;
}

.account-interact {
    width: 600px;
    border-right: 2px solid;
    padding: 40px 0;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.join-handyman {
    padding-left: 50px;
}

.join-handyman p {
    text-align: center;
    font-size: 1.25rem;
}

.join-handyman .btn {
    display: block;
    margin-left: auto;
    margin-top: 20px;
}

/*
=========END OF INDEX========
*/

/*
===========FORM-STYLE============
*/

.form-wrapper {
    margin: 5rem 0;
}

.form-section {
    width: 600px;
    margin: 0 auto;
}

.form-title {
    font-size: 2.25rem;
}

.form-container {
    border: 3px solid var(--color-pen);
    padding: 0 85px;
    padding-top: 40px;
    padding-bottom: 100px;
    height: 80vh;
    overflow-y: scroll;
}

.sign-form-container {
    height: fit-content;
}

/* FORM GROUP */
.form-group label {
    font-size: 1.5rem;
}

.form-group input[type="text"],[type="password"], textarea {
    border: 0;
    border-bottom: 2px dashed var(--color-pen);
    background-color: var(--color-bg);
    width: 100%;
    font-size: 1.5rem;
}

.form-group textarea {
    resize: none;
    white-space: pre-line;
}

.form-group input[type="text"],[type="password"], textarea:focus {
    outline: none;
}

.form-section .form-group {
    margin-bottom: 30px;
}

/* FORM CONTROL */
.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.form-btn {
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

.form-control span {
    padding-top: 25px;
    font-size: 1.25rem;
}

.form-control span a {
    text-decoration: underline;
}

/*
=========END OF FORM-STYLE========
*/

/*
===========DASHBOARD============
*/

.dashboard_container {
    margin: 5rem 0;
    height: fit-content;
    border: 3px solid var(--color-pen);
    display: grid;
    grid-template-columns: .3fr 1fr;
}

.dash_left {
    border-right: 3px solid var(--color-pen);
}

.dash_left ul{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-size: 1.5rem;
}

.dash_left ul li {
    border: 2px solid transparent;
}

.dash_left ul li a{
    outline: none;
}

.dash_left ul li.selected{
    border: 2px solid var(--color-pen);
}

.dash_right {
    height: 70vh;
    padding: 5%;
    overflow-y: scroll;
}

/* PERSONAL INFO */
.personal-info img {
    height: 120px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    mix-blend-mode: luminosity;
}

.personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal-info .form-group {
    margin-bottom: 30px;
}

.personal-info label{
    font-size: 1.25rem;
}

.personal-info button {
    float: right;
}

.account-delete button{
    font-size: 1.25rem;
    border: 0;
    outline: 0;
    text-decoration: underline;
    text-align: left;
    color: var(--color-danger);
    width: 100%;
}

/* PROFESSIONAL INFO */
.select-category {
    user-select: none; /* For most browsers */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.select-category .form-group {
    margin-top: 10px;
}

.select-category input[type="checkbox"] {
    display: none;
}

.select-category label {
    border: 2px solid var(--color-pen);
    margin: 5px 5px;
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}

.select-category input[type="checkbox"]:not(:checked) + label::before {
    content: "+ ";
}

.select-category input[type="checkbox"]:checked + label::before {
    content: "− ";
}

.select-category input[type="checkbox"]:checked + label {
    background-color: var(--color-pen);
    color: var(--color-bg);
}

.select-work-schedule {
    user-select: none; /* For most browsers */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
    font-size: 1.5rem;
    margin-left: 20px;
    margin-bottom: 30px;
}

.select-work-schedule input[type="checkbox"] {
    appearance: none;
    outline: none;
}

.select-work-schedule input[type="checkbox"]:checked::before {
    content: "☑";
}

.select-work-schedule input[type="checkbox"]:not(checked)::before {
    content: "☐";
}

.select-work-schedule label {
    margin: 10px 0;
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}

.select-work-schedule input[type="checkbox"]:checked + label {
    text-decoration: none;
}

.select-work-schedule input[type="checkbox"]:not(checked) + label {
    text-decoration: none;
    text-decoration: line-through;
}

.select-work-schedule input[type="time"] {
    border: none;
    border-bottom: 2px dashed var(--color-pen);
    background-color: var(--color-bg);
    outline: none;
}

.select-location, .about-me {
    font-size: 1.5rem;
    margin-left: 20px;
    margin-bottom: 30px;
}

.professional-info button {
    float: right;
}

/* DASHBOARD TABLE */
.dash_right table {
    width: 100%;
    font-size: 1.5rem;
    border: 2px solid var(--color-pen);
    border-collapse: collapse;
}

.dash_right table th {
    font-size: 2rem;
    border-bottom: 2px solid var(--color-pen);
}

.dash_right table th:not(:last-child) {
    border-right: 1px solid var(--color-pen);
}

.dash_right table td {
    text-align: center;
    border-bottom: 1px solid var(--color-pen);
    padding: 20px 10px;
}

.dash_right table td:not(:last-child) {
    border-right: 1px solid var(--color-pen);
}

/* MANAGE CATEGORY */
.manage-category form .btn {
    float: right;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*
===========END OF DASHBOARD============
*/

/*
===========EDIT-USER============
*/

.user-role {
    user-select: none; /* For most browsers */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

#is_admin {
    margin-left: 40px;
}

.user-role input[type="checkbox"] {
    appearance: none;
    outline: none;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.user-role label {
    font-size: 1.5rem;
}

.user-role input[type="checkbox"]:checked::before {
    content: "☑";
}

.user-role input[type="checkbox"]:not(checked)::before {
    content: "☐";
}

/*
===========END OF EDIT-USER============
*/

/*
===========EDIT-CATEGORY============
*/
.handyman-list {
    margin-top: 50px;
}

.handyman-list ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 40px;
    font-size: 1.5rem;
    list-style: square;
}

.handyman-list ul li {
    margin: 5px;
}

/*
===========END OF EDIT-CATEGORY============
*/

/*
===========JOIN-AS-HANDYMAN============
*/

.join-handyman-form-container .select-work-schedule {
    display: flex;
    flex-wrap: wrap;
}

.select-work-schedule-day {
    white-space: nowrap;
    flex: 1;
}

/*
===========END OF JOIN-AS-HANDYMAN============
*/

/*
===========PROFILE============
*/

.profile-maximize {
    border: 3px solid var(--color-pen);
    height: 600px;
    padding: 40px 70px;
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.profile-maximize .avatar {
    width: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    mix-blend-mode: luminosity;
}

.profile-maximize .rating {
    margin-top: 10px;
}

.profile-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid var(--color-pen);
    padding: 5px;
}

.profile-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.profile-right div {
    margin-left: 20px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.profile-skills li {
    border: 2px solid var(--color-pen);
    float: left;
    margin: 10px 0;
    margin-right: 10px;
    padding: 0 5px;
}

.profile-schedule {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.profile-right .btn {
    align-self: center;
    font-size: 2rem;
    padding: 10px 15px;
}

/*
===========END OF PROFILE============
*/