:root {
    --color-pen: #1E201E;
    --color-bg: #EEEEEE;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    max-width: 1065px;
    margin-inline: auto;
    font-family: "Patrick Hand SC", cursive;
    -webkit-font-smoothing: antialiased;
    line-height: 1.3;
    color: var(--color-pen);
    background-color: var(--color-bg);
}

img {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.btn {
    border: 2px solid;
    border-left: 5px solid;
    border-bottom: 15px solid;
    width: fit-content;
    padding-inline: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn:hover {
    color: #646664;
}

.btn:focus {
    color: #454545;
    outline: 0;
}

.btn:active {
    border-left: 2px solid;
    border-right: 5px solid;
    border-top: 5px solid;
    border-bottom: 12px solid;
}


/* HEADER */
.logo {
    text-align: center;
}

/* FOOTER */
footer {
    padding: 20px 0;
    text-align: center;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
}

/*
=========INDEX========
*/

.logo span {
    font-size: 4rem;
}

.logo span small {
    font-size: 1rem;
}

/* CATEGORIES */
.category-section {
    margin-top: 25px;
    position: relative !important;
}

.category-section span {
    font-size: 1.25rem;
}

.category-container {
    border: 3px solid var(--color-pen);
    padding-top: 25px;
    padding-bottom: 50px;
}

.category-container ul {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 60px;
    padding: 0 10px;
    justify-items: center;
    list-style: none;
}

.category-container ul li {
    padding: 0 5px;
}

li.selected {
    border: 2px solid var(--color-pen);
    height: fit-content;
}

.search {
    background-color: var(--color-bg);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 75%;
    text-wrap: nowrap;
}

.search label {
    font-size: 2rem;
    margin-left: 5px;
}

.search input {
    border: 0;
    background-color: var(--color-bg);
    width: 90px;
    font-size: 2rem;
}

.search input::placeholder {
    opacity: 50%;
}

.search input:focus {
    outline: 0;
    border-bottom: 1px solid var(--color-pen);
}

/* PROFILES */
.profile-section {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-items: center;
    column-gap: 15px;
    row-gap: 50px;
}

.profile {
    border: 2px solid var(--color-pen);
    width: 100%;
    position: relative;
    padding: 0 50px;
}

.profile .name {
    background-color: var(--color-bg);
    padding: 0 5px;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
}

.profile img {
    margin-top: 30px;
    width: 150px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    mix-blend-mode: luminosity;
}

.profile-headsup {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.25rem;
    list-style: none;
}

.rating {
    background-color: var(--color-bg);
    padding: 0 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
}

/* NAV SECTION */
.nav-section {
    margin-top: 100px;
    border-top: 3px solid var(--color-pen);
    border-bottom: 3px solid var(--color-pen);
    font-size: 1.25rem;
    padding: 16px 25px;
    display: flex;
    align-items: center;
}

.account-interact {
    width: 600px;
    border-right: 2px solid;
    padding: 40px 0;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.join-handyman {
    padding-left: 50px;
}

.join-handyman p {
    text-align: center;
    font-size: 1.25rem;
}

.join-handyman .btn {
    display: block;
    margin-left: auto;
    margin-top: 20px;
}

/*
=========END OF INDEX========
*/

/*
===========SIGNUP============
*/

.form-section {
    margin: 5% 23%;
}

.form-title {
    font-size: 2.25rem;
}

.form-container {
    /* width: 580px; */
    /* height: fit-content; */
    border: 3px solid var(--color-pen);
    padding: 40px 85px;
}

.form-container form label {
    font-size: 1.5rem;
}

.form-container input[type="text"] {
    border: 0;
    border-bottom: 2px dashed var(--color-pen);
    background-color: var(--color-bg);
    width: 100%;
    font-size: 1.5rem;
}

.form-container input[type="text"]:focus {
    outline: none;
}

.form-group {
    margin-bottom: 30px;
}

/* form control */

.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.signup-btn {
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

.form-container form span {
    padding-top: 25px;
    font-size: 1.25rem;
}

.form-container form span a {
    text-decoration: underline;
}

/*
=========END OF SIGNUP========
*/
